body {
	font-family: 'Antic', sans-serif;
	font-size: 120%; 

}


h1 {
	color: red;
	text-align: center;
}
.active:hover{
	background-color: #FFFF54;
	transform: scale(1.1);
}

.cc:hover {
	background-color: #5EFA01;
	transform: scale(1.1);
}

.container {
	width: 1000px;
	margin: auto;
}

h3 {
	color: blue;
	text-transform: capitalize;
	text-align: center;
}

h4 {
	border: 2px solid black;
	background-color: #DACDC6;
	padding: 4px;	
}

img {
	float: right;
	transition: 1s;
		
}
img:hover {
	transform: scale(1.1);
}

h5 {
	text-decoration: underline;
}

p {
	text-align: justify-all;
}

.top {
	float: right;
}

.contact_form div {
	padding: 10px 0;
	display: flex;
}

.contact_form p {
	width: 100px;
	margin: 0;
}